@import "tailwindcss";

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img, picture,video,canvas,svg{
    display: block;
    max-width: 100%;
}

input,button,textarea, select{
    font:inherit
}



